@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.edit-scroll::-webkit-scrollbar {
  display: none;
}
.edit-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  font-family: 'Muli';
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #4266a4;
  height: 100%;
}

.container {
  background-color: #4266a4;
  width: 100vw;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 3;
  overflow: hidden;
}

.circle {
  background-color: #8d85ce;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-90deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
  overflow: hidden;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 65%;
  top: 50%;
}

.circle button#close {
  top: 70%;
  left: 50%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav {
  transform: translateX(0);
}

nav {
  position: fixed;
  bottom: 0;
  z-index: 2;
  height: 100vh;
  width: 20vw;
  min-width: 150px;
  max-width: 200px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}

nav ul {
  list-style-type: none;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 5px;
  margin-top: 0px;
  transition: transform 0.5s ease-out;
}

nav ul {
  text-decoration: none;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  padding-right: 10%;
}

nav ul li a:hover {
  color: #8d85ce;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a i {
  font-size: 15px;
  margin-right: 10px;
}

hr {
  width: 90%;
  border-style: dashed;
  border-color: #dab1fe;
}

.landing {
  position: relative;
  height: 100vh;
  min-height: 630px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing::before {
  content: '';
  background-image: url('https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2090&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.introduction {
  position: relative;
  width: 70vw;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  padding-top: 10%;
}

.brand {
  position: relative;
  width: 70vw;
  color: #fff;
  text-align: center;
  font-size: x-large;
}

.landing .headshot {
  position: relative;
  background-image: url('https://res.cloudinary.com/dm5cjaisp/image/upload/v1600230047/IMG_0272_bxi0xu.jpg');
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.landing a {
  text-decoration: none;
}

.landing a .learn-more {
  padding-bottom: 15px;
  color: #fff;
  text-align: center;
  font-size: large;

  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.learn-more i {
  padding-top: 5px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4266a4;
  height: auto;
}

.about-me {
  height: auto;
  width: 95%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.about-me p {
  padding-top: 10px;
}

.knowledge-container {
  width: 95vw;
}

.knowledge-container h2 {
  color: #fff;
  text-align: center;
  width: 95%;
  margin: 5px auto;
}

.knowledge {
  width: 100%;
  padding: 3px 0px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.knowledge .tools,
.knowledge .frontend,
.knowledge .backend {
  text-align: center;
  width: 30%;
  border: 2px solid #5377b5;
  margin: 10px auto;
  padding: 5px;
  color: #fff;
}

.knowledge .tools ul,
.knowledge .frontend ul,
.knowledge .backend ul {
  list-style: none;
  display: grid;
  height: 150px;
  padding-top: 10px;
  align-items: center;
}

.knowledge .tools ul,
.knowledge .backend ul {
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.knowledge .frontend ul {
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}

.projects-container {
  width: 98%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: block;
  height: 300px;
  width: 600px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px #dab1fe;
  position: relative;
}

.projects {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.projects .project-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5)
}

.project-info .project-title {
  font-size: 28px;
}

.project-info .project-text {
  font-size: 16px;
  padding: 0px 1rem;
  text-align: justify;
}

.project-info .project-tech {
  border: 2px solid #fff;
  border-radius: 10px;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-tech .icon-container {
  width: 25%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  height: 85%;
  width: 100%;
  object-fit: contain;
}

.project-tech .non-logo-projects-tech {
  padding: 10px;
}

.contact-container {
  height: 500px;
  display: flex;
  margin: 10px auto;
  padding: 10px;
}

#contact {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contact .email-container {
  height: 50%;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#contact .email-container a {
  color: white;
  margin: 5px;
}

#contact .email-container a:hover {
  color: black;
}

#contact .resume-container {
  height: 50%;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#contact .resume-container a {
  color: white;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .resume-container a i {
  font-size: 50px;
  object-fit: contain;
  
}

#contact .resume-container a:hover {
  color: black;
}

.social-links-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.social-link {
  height: 30%;
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link a {
  height: 50%;
  width: height / 2;
  display: flex;
}

.social-link a:hover {
  filter: invert(100%);
}

.social-link a img {
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 575px) {
  .circle-container {
    top: -50px;
    left: -50px;
  }

  .circle {
    height: 100px;
    width: 100px;
  }

  .circle button {
    height: 30px;
  }

  .circle button#open {
    top: 55%;
    left: 60%;
  }

  .circle button#close {
    top: 60%;
    left: 45%;
  }

  .introduction {
    width: 100vw;
    font-size: x-large;
    padding: 40px 10px 10px;
  }

  .brand {
    width: 100vw;
    padding: 0 5px;
    font-size: large;
  }

  .landing .headshot {
    width: 200px;
    height: 200px;
  }

  .landing a .learn-more {
    animation: none;
  }

  .about-me {
    font-size: 15px;
  }

  .knowledge {
    flex-direction: column;
    align-items: center;
  }

  .knowledge .tools,
  .knowledge .frontend,
  .knowledge .backend {
    height: 225px;
    width: 90%;
  }

  .project-link {
    height: 300px;
    width: 95vw;
  }

  .projects .project-info {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

  .project-info .project-text {
    font-size: 15px;
    padding: 0px 1rem;
    text-align: left;
  }

  .project-info .project-tech {
    width: 95%;
  }

  .project-tech .icon-container {
    width: 30%;
    padding: 0.25rem;
  }

  .icon-container img {
    width: 95%;
  }

  .contact-container {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #contact {
    width: 100%;
    padding: 10px;
  }

  .social-links-container {
    margin: 10px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .social-link {
    height: 100%;
    width: 30%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-link a {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-link img {
    height: 100%;
    object-fit: contain;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .circle-container {
    top: -80px;
    left: -80px;
  }

  .circle {
    height: 160px;
    width: 160px;
    overflow: hidden;
  }

  .circle button#open {
    left: 60%;
    top: 40%;
  }

  .circle button#close {
    top: 60%;
    left: 60%;
  }

  nav ul {
    padding-top: 40px;
  }

  .brand {
    width: 58vw;
    margin: 10px auto;
  }

  .knowledge {
    display: flex;
    flex-direction: column;
  }

  .knowledge .tools {
    margin-left: 10% !important;
  }

  .knowledge .frontend {
    margin-left: 20% !important;
  }

  .knowledge .backend {
    margin-left: 30%;
  }

  .knowledge .tools,
  .knowledge .frontend,
  .knowledge .backend {
    height: 225px;
    width: 60%;
    border-color: lightsteelblue;
  }

  .projects {
    background-position: top;
  }

  .projects .project-info {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .contact-container {
    width: 90%;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .circle button#open {
    left: 63%;
    top: 48%;
  }

  .circle button#close {
    top: 64%;
    left: 52%;
  }

  nav ul {
    padding-top: 50px;
    font-size: 20px;
  }

  nav ul li i {
    font-size: 18px;
  }

  .introduction {
    padding: 10% 0 5%;
  }

  .brand {
    width: 60vw;
    margin: 0 auto;
  }

  .landing .headshot {
    width: 300px;
    height: 300px;
  }

  .landing a .learn-more {
    font-size: x-large;
  }

  .knowledge-container {
    width: 100vw;
  }

  .knowledge {
    width: 100%;
    padding: 3px 0px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .knowledge .tools,
  .knowledge .frontend,
  .knowledge .backend {
    width: 45%;
    border: 2px solid lightsteelblue;
    margin: 15px 0;
  }

  .knowledge .tools {
    align-self: flex-start;
    margin-left: 10%;
  }

  .knowledge .frontend {
    align-self: center;
  }

  .knowledge .backend {
    align-self: flex-end;
    margin-right: 10%;
  }

  .projects-link {
    height: 300px;
    width: 40%;
  }

  .projects:nth-child(1) {
    background-position: left bottom;
  }

  .projects:nth-child(2) {
    background-position: right;
  }

  .projects:nth-child(4) {
    background-position: left center;
  }

  .contact-container {
    width: 95%;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1025px) {
  .circle button#open {
    left: 63%;
    top: 48%;
  }

  .circle button#close {
    top: 64%;
    left: 52%;
  }

  nav ul {
    padding-top: 50px;
    font-size: 20px;
  }

  nav ul li i {
    font-size: 18px;
  }

  .introduction {
    padding: 10% 0 5%;
  }

  .brand {
    width: 50vw;
    margin: 0 auto;
  }

  .landing .headshot {
    width: 300px;
    height: 300px;
  }

  .landing a .learn-more {
    font-size: x-large;
  }

  .knowledge-container {
    width: 100vw;
  }

  .knowledge {
    width: 100%;
    padding: 3px 0px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .knowledge .tools,
  .knowledge .frontend,
  .knowledge .backend {
    width: 45%;
    border: 2px solid lightsteelblue;
    margin: 15px 0;
  }

  .knowledge .info {
    transform: translateX(-400%);
    transition: transform 1.5s ease-out;
  }

  .knowledge .info.show {
    transform: translateX(0);
  }

  .knowledge .tools {
    align-self: flex-start;
    margin-left: 10%;
  }

  .knowledge .frontend {
    align-self: center;
  }

  .knowledge .backend {
    align-self: flex-end;
    margin-right: 10%;
  }

  .projects-container {
    width: 90vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 15px;
  }

  .project-link:nth-child(1) {
    grid-column: 1/3;
  }

  .project-link {
    height: 300px;
    width: 98%;
    max-width: 650px;
    align-self: center;
    justify-self: center;
  }

  .contact-container {
    width: 95%;
    justify-content: space-around;
  }
}
